.mainBodyStyle {
    padding: 0 50px;
    display: grid;
    grid-template-areas:
        "video recommendations"
        "description recommendations"
        "comments recommendations";
    grid-template-columns: 80% 20%;
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
}